In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
id=pd.read_csv("/content/sample_data/iris.csv")

In [3]:
id.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
id.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [5]:
id.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [6]:
id_cat=id.select_dtypes(object)

In [7]:
id_num=id.select_dtypes(np.float64)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [22]:
def standardscaler (x):
  return (x-x.mean())/x.std()

In [9]:
from numpy.ma.core import concatenate
# to join - concatenate, df_cat and df_num and form ne DataFrame 
#df_new
#make engine type engine size 
id_new=pd.concat([id_cat,id_num],axis=1)
id_new.head()

       species  sepal_length  sepal_width  petal_length  petal_width
0  Iris-setosa           5.1          3.5           1.4          0.2
1  Iris-setosa           4.9          3.0           1.4          0.2
2  Iris-setosa           4.7          3.2           1.3          0.2
3  Iris-setosa           4.6          3.1           1.5          0.2
4  Iris-setosa           5.0          3.6           1.4          0.2

In [26]:
from numpy.ma.core import concatenate
# to join - concatenate, df_cat and df_num and form ne DataFrame 
#df_new
#make engine type engine size 
id_new=pd.concat([id_cat,id_num],axis=1)
id_new.head()

   species  sepal_length  sepal_width  petal_length  petal_width
0        0           5.1          3.5           1.4          0.2
1        0           4.9          3.0           1.4          0.2
2        0           4.7          3.2           1.3          0.2
3        0           4.6          3.1           1.5          0.2
4        0           5.0          3.6           1.4          0.2

In [15]:
lr=LogisticRegression()

In [14]:
from sklearn.preprocessing import LabelEncoder

In [18]:
for col in id_cat:
    #create object of LabelEncoder class
    le=LabelEncoder()
    id_cat[col]=le.fit_transform(id_cat[[col]])

In [20]:
id_cat.dtypes

species    int64
dtype: object

In [27]:
for col in id_new:
  ss = StandardScaler()
  id_new[col]=ss.fit_transform(id_new[[col]])
id_new.head()

    species  sepal_length  sepal_width  petal_length  petal_width
0 -1.224745     -0.900681     1.032057     -1.341272    -1.312977
1 -1.224745     -1.143017    -0.124958     -1.341272    -1.312977
2 -1.224745     -1.385353     0.337848     -1.398138    -1.312977
3 -1.224745     -1.506521     0.106445     -1.284407    -1.312977
4 -1.224745     -1.021849     1.263460     -1.341272    -1.312977