In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
id=pd.read_csv("/content/sample_data/iris.csv")

In [3]:
id.head(7)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa

In [4]:
id.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [5]:
id.species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
np.nan

nan

In [7]:
id.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [8]:
id_cat=id.select_dtypes(object)

In [9]:
id_num=id.select_dtypes(np.float64)

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [26]:
from numpy.ma.core import concatenate
# to join - concatenate, df_cat and df_num and form ne DataFrame 
#df_new
#make engine type engine size 
id_new=pd.concat([id_cat,id_num],axis=1)
id_new.head()

   species  sepal_length  sepal_width  petal_length  petal_width
0        0           5.1          3.5           1.4          0.2
1        0           4.9          3.0           1.4          0.2
2        0           4.7          3.2           1.3          0.2
3        0           4.6          3.1           1.5          0.2
4        0           5.0          3.6           1.4          0.2

In [12]:
lr=LogisticRegression()

In [33]:
from sklearn.model_selection import train_test_split

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
for col in id_cat:
    #create object of LabelEncoder class
    le=LabelEncoder()
    id_cat[col]=le.fit_transform(id_cat[[col]])

In [19]:
id_cat.dtypes

species    int64
dtype: object

In [20]:
id_cat["species"].unique()

array([0, 1, 2])

In [32]:
for col in id_new:
  mms=MinMaxScaler()
  id_new[col]=mms.fit_transform(id_new[[col]])
id_new.head()

   species  sepal_length  sepal_width  petal_length  petal_width
0      0.0      0.222222     0.625000      0.067797     0.041667
1      0.0      0.166667     0.416667      0.067797     0.041667
2      0.0      0.111111     0.500000      0.050847     0.041667
3      0.0      0.083333     0.458333      0.084746     0.041667
4      0.0      0.194444     0.666667      0.067797     0.041667